

.progressbar {
  justify-content: center;
  align-items: center;
  margin-left: 150px;
  
}

.hero-title {
  text-align: center;
}

.subtitle {
  text-align: center;
}

.wide-textarea {
  width: 100%;
  /* You can adjust this value based on your preferences */
}

form {
  align-items: center;
  justify-content: center;
}
.container_
{
  align-items: center;
  justify-content: center;
  margin-left: 150px;
}

.tile{
  background-color: #49b6b6 ;
  border-radius: 50px;
  height: 100px;
  width: 200px;
  justify-content: center;
  align-items: center;
  border: 10px solid;
  text-align: center;
  margin-left: 200px;
}