<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Ai4innovation Toolkit</title>
    <style>
        .sidebar {
            background-color: #49b6b6;
            color: white;
        }

        .tablecontainer {
            background-color: white;
        }

        .table-no-left-border td:first-child {
            border-left: none;
        }

        .table-no-left-border td {
            border-right: 1px solid #dee2e6;
        }

        .btn {
            background-color: #49b6b6;
        }

        a {
            text-decoration: none;

            color: black
        }

        .progressbar {
            justify-content: center;
            align-items: center;
            margin-left: 150px;
        }

        .hero-title {
            text-align: center;
        }

        .subtitle {
            text-align: center;
        }

        .wide-textarea {
            width: 100%;
            /* You can adjust this value based on your preferences */
        }

        form {
            align-items: center;
            justify-content: center;
        }

        .container_ {
            align-items: center;
            justify-content: center;
            margin-left: 150px;
        }
    </style>
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar with background color -->
            <div class="col-md-3 sidebar">
                <a href="/" class="w-inline-block">
                    <img src="/static/Capture.PNG" alt="" class="image-2 img-fluid">
                </a>
                <div class="div-block-3 ">
                    <h1 class="h4-special">
                        <strong>The Ai4innovation toolkit</strong>
                    </h1>
                    <a href="#" class="button-tools-inline w-button">📡 Alignment</a>
                    <ul>
                        <li><a href="#" class="list-item point-button">Build Market Understanding(23)</a></li>
                        <li><a href="#" class="list-item point-button">Clarify objectives(10)</a></li>
                        <li><a href="#" class="list-item point-button">Write a TRUE North(App)</a></li>
                    </ul>

                    <a href="#" class="button-tools-inline w-button">💻 Build Ideas</a>
                    <ul>
                        <li><a href="#" class="list-item point-button">Clarify Challenge (30)</a></li>
                        <li><a href="/build" class="list-item point-button">Build Ideas (76)</a></li>
                        <li><a href="#" class="list-item point-button">Select winning concepts (App-in development)</a>
                        </li>
                    </ul>

                    <a href="#" class="button-tools-inline w-button">💬 Communicate and Check</a>
                    <ul>
                        <li><a href="#" class="list-item point-button">Improve selling concept (26)</a></li>
                        <li><a href="#" class="list-item point-button">Check Ideas (6)</a></li>
                        <li><a href="#" class="list-item point-button">Kills or continue (App-in development)</a></li>
                    </ul>

                    <a href="#" class="button-tools-inline w-button">🔮 Systematically Improve</a>
                    <ul>
                        <li><a href="#" class="list-item point-button">Business Analysis (24)</a></li>
                        <li><a href="#" class="list-item point-button">Kill or continue (App-in development)</a></li>
                    </ul>

                    <a href="#" class="button-tools-inline w-button">📊 Pitch</a>
                    <ul>
                        <li><a href="#" class="list-item point-button">Pitch Ideas (7)</a></li>
                        <li><a href="#" class="list-item point-button">Pitch Template (App)</a></li>
                        <li><a href="#" class="list-item point-button">Pitching Ideas (App)</a></li>
                        <li><a href="#" class="list-item point-button">Business Review (App-in development)</a></li>
                    </ul>
                </div>
            </div>

            <!-- Right side content -->
            <div class="col-md-9">
                <div class="section">
                        
                           
                            <div class="wrapper">

                                <h1>Introduction</h1>
                                 
                               <ol class="ProgressBar">
                                 <li class="ProgressBar-step">
                                   <svg class="ProgressBar-icon firstball is-current" id="firstball"><use xlink:href="#checkmark-bold"/></svg>
                                   <span class="ProgressBar-stepLabel"><a href="index"> Your Intro Right </a></span>
                                 </li>
                                 <li class="ProgressBar-step">
                                   <svg class="ProgressBar-icon"><use xlink:href="#checkmark-bold"/></svg>
                                   <span class="ProgressBar-stepLabel"><a href="/step1">Get Your Intro Right</a></span>
                                 </li>
                                 <li class="ProgressBar-step">
                                   <svg class="ProgressBar-icon"><use xlink:href="#checkmark-bold"/></svg>
                                   <span class="ProgressBar-stepLabel"><a href="/step2">The Meat</a></span>
                                 </li>
                                 <li class="ProgressBar-step">
                                   <svg class="ProgressBar-icon"><use xlink:href="#checkmark-bold"/></svg>
                                   <span class="ProgressBar-stepLabel"><a href="/step3">Close Wit Purpose</a></span>
                                 </li>
                                 <li class="ProgressBar-step">
                                    <svg class="ProgressBar-icon"><use xlink:href="#checkmark-bold"/></svg>
                                    <span class="ProgressBar-stepLabel"><a href="/pitch">Ready!</a></span>
                                  </li>
                               </ol>
                                 
                               
                              
                                
                               </div>
                               
                               <svg xmlns="http://www.w3.org/2000/svg">
                                 <symbol id="checkmark-bold" viewBox="0 0 24 24">
                                   <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                                 </symbol>
                               </svg>
                            </div>
                               <ul class="styled-list">
                                <li><strong>A step by step process to make a great pitch</strong></li>
                                <li> <strong> Expert advice based on thousands of pitches</strong></li>
                            </l>
                            <p >
                                
                               
                                
                                <strong>Get started now. </strong>
                                
                                
                            </p>
    
                            <h6  >Step 1: Define your core message and objective</h6>
    
                        </div>
                      

                        <!--                                     
                <ol class="steps">
                    <li class="step">Step 1</li>
                    <li class="step">Step 2</li>
                    <li class="step">Step 3</li>
                    
                </ol> -->
                       




                        <!-- <h1> <b>Please define your core message</b></h1> -->

                        <div class="ml-100 container_"> <!-- Question table -->
                            <form action="/generate_feedback" method="post">
                                <div class="container mt-4 tablecontainer">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <table class="table table-bordered table-no-left-border">
                                               <tbody>
                                                   <tr>
                                                       <td><strong>Why is this pitch important to you?</strong></td>
                                                       <td>
                                                           <textarea class="form-control wide-textarea w-100"
                                                              placeholder="Please enter or edit your answer"
                                                              rows="4" cols="50" name="{{ 'user_input1' }}" required>{{ user_inputs.step1['input1'] }}</textarea>
                                                       </td>
                                                   </tr>
                                                   <tr>
                                                       <td><strong>What is the goal of your pitch?</strong></td>
                                                       <td>
                                                           <textarea class="form-control" rows="4"
                                                              placeholder="Please enter or edit your answer"
                                                              name="{{ 'user_input2' }}" required>{{ user_inputs.step1['input2'] }}</textarea>
                                                       </td>
                                                   </tr>
                                                   <tr>
                                                       <td><strong>What does your audience believe before the pitch?</strong></td>
                                                       <td>
                                                           <textarea class="form-control" rows="4"
                                                              placeholder="Please enter or edit your answer"
                                                              name="{{ 'user_input3' }}" required>{{ user_inputs.step1['input3'] }}</textarea>
                                                       </td>
                                                   </tr>
                                                   <tr>
                                                       <td><strong>What should your audience believe after the pitch? (and Why)</strong></td>
                                                       <td>
                                                           <textarea class="form-control" rows="4"
                                                              placeholder="Please enter or edit your answer"
                                                              name="{{ 'user_input4' }}" required>{{ user_inputs.step1['input4'] }}</textarea>
                                                       </td>
                                                   </tr>
                                               </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button class="btn btn-primary" type="submit">Generate Feedback</button>
                                        </div>
                                    </div>
                                </div>
                             </form>
                            <h3><strong>AI Feedback: Is the purpose of your pitch clear?</strong></h3>
                            <!-- Output section -->
                            <div class="output">
                                <div id="response1">
                                    <div class="lottie-animation" data-animation-type="lottie"
                                        data-src="https://assets.website-files.com/640fa33f33c6024cf3e800d6/6411fffbd7d4478b7afe980a_16766-forget-password-animation.json"
                                        data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0"
                                        data-renderer="svg" data-duration="0"></div>


                                    {% if feedback %}
                                    <h3>Generated Feedback:</h3>
                                    <textarea class="form-control" rows="6">{{ feedback }}</textarea>
                                    {% else %}
                                    <textarea class="form-control"
                                        rows="6">We are creating your request. This can take up to 20 seconds...</textarea>
                                    {% endif %}
                                    <!-- Additional feedback goes here -->
                                </div>
                                <br>
                                <button class="btn btn-primary" id="advance" onclick="continueToNextPage()"> Next
                                </button>
                            </div>
                        </div>

                        <p class="paragraph policies">
                            By using this tool, you agree to our <a href="#" target="_blank" class="link">Terms of
                                Service and Policies </a>
                            and &nbsp;<a href="https://openai.com/policies/terms-of-use" target="_blank"
                                class="link">OpenAI’s Terms of Service and Policies</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <script>
        var interval = setInterval(update_progress, 1000);
        function update_progress() {
            $.get('/progress').done(function (n) {
                n = n / 5; // percent value
                if (n == 100) {
                    clearInterval(interval);
                }
                $('.step').each(function () {
                    if ($(this).index() * 20 < n && $(this).index() * 20 + 20 >= n) {
                        $(this).addClass('is-current');
                        if ($(this).prev().hasClass('is-complete')) {
                            $(this).addClass('is-complete');
                        }
                    } else {
                        $(this).removeClass('is-current is-complete');
                    }
                });
            }).fail(function () {
                clearInterval(interval);
            });
        }
    </script> -->

    <script>
        function continueToNextPage() {
            window.location = 'step1'
        }
    </script>
    <script>
        
$("#advance").on("click", function() {
  var $bar = $(".ProgressBar");
  if ($bar.children(".is-current").length > 0) {
    $bar.children(".is-current").removeClass("is-current").addClass("is-complete").next().addClass("is-current");
  } else {
    $bar.children().first().addClass("is-current");
  }
});

$("#previous").on("click", function() {
  var $bar = $(".ProgressBar");
  if ($bar.children(".is-current").length > 0) {
    $bar.children(".is-current").removeClass("is-current").prev().removeClass("is-complete").addClass("is-current");
  } else {
    $bar.children(".is-complete").last().removeClass("is-complete").addClass("is-current");
  }
});
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>

</html>