<!DOCTYPE html>
<!-- Last Published: Wed Oct 04 2023 13:10:33 GMT+0000 (Coordinated Universal Time) -->
<html lang="EN">

<head>
    <meta charset="utf-8" />
    <title>💡 The Ai4innovation toolkit</title>
    <meta
        content="Let The Ai4innovation toolkit spark your next big idea. Enter short description of your business and an alternate view of the problem to do some actual out-of-the-box ideation."
        name="description" />
    <meta content="💡 The Ai4innovation toolkit" property="og:title" />
    <meta
        content="Let The Ai4innovation toolkit spark your next big idea. Enter short description of your business and an alternate view of the problem to do some actual out-of-the-box ideation."
        property="og:description" />
    <meta content="💡 The Ai4innovation toolkit" property="twitter:title" />
    <meta
        content="Let The Ai4innovation toolkit spark your next big idea. Enter short description of your business and an alternate view of the problem to do some actual out-of-the-box ideation."
        property="twitter:description" />
    <meta property="og:type" content="website" />
    <meta content="summary_large_image" name="twitter:card" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <link href="/static/style.css" rel="stylesheet" type="text/css" />

    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
    <script type="text/javascript">
        WebFont.load({
            google: {
                families: ["PT Sans:400,400italic,700,700italic", "PT Serif:400,400italic,700,700italic"]
            }
        });
    </script>
    <script type="text/javascript">
        !function (o, c) {
            var n = c.documentElement
                , t = " w-mod-";
            n.className += t + "js",
                ("ontouchstart" in o || o.DocumentTouch && c instanceof DocumentTouch) && (n.className += t + "touch")
        }(window, document);
    </script>
    <link href="/static/Assets/favicon/android-chrome-512x512.png" rel="shortcut icon" type="image/x-icon" />
    <link href="/static/Assets/favicon/apple-touch-icon.png" rel="apple-touch-icon" />
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=G-27R59ZM6Q5"></script>
    <script type="text/javascript">
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('set', 'developer_id.dZGVlNj', true);
        gtag('config', 'G-27R59ZM6Q5');
    </script>


    <!-- <script>
            function getResponse() {
                var userInput = document.getElementById('userInput').value;
    
                fetch('/get_response', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: 'user_prompt=' + userInput
                })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('response').innerText = data.response;
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }

            
        </script> -->
    <!-- <script>
            function getResponse() {
                fetch('/get_responses', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    // body: 'user_prompt_1=' + userInput1 + '&user_prompt_2=' + userInput2 + '&user_prompt_3=' + userInput3 + '&user_prompt_4=' + userInput4
                    body: 'user_prompt=' + userInput
                })
                .then(response => response.json())
                .then(data => {
                    for (let i = 1; i <= 4; i++) {
                        let responseKey = 'response' + i;
                        let responseData = data[responseKey];
                        document.getElementById('response' + i).innerText = responseData;
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }
        </script> -->

    <!-- <script>
            function getResponse() {
                fetch('/get_responses', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    // body: 'user_prompt_1=' + userInput1 + '&user_prompt_2=' + userInput2 + '&user_prompt_3=' + userInput3 + '&user_prompt_4=' + userInput4
                    body: 'user_prompt=' + userInput1.value +" "+ userInput2.value +" "+ userInput3.value +" "+ userInput4.value +" "+ userInput5.value




                })
                .then(response => response.json())
                .then(data => {
                    for (let i = 1; i <= 22; i++) {
                        let responseKey = 'response_' + i;
                        let responseData = data[responseKey];
                        document.getElementById('response' + i).innerText = responseData;
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }
        </script> -->


</head>

<body class="body">

    <!-- <div class="section-9">
                <div class="columns-2 w-row"> -->
    <div class="column-11 w-col w-col-3">
        <div class="div-block-6">
            <a href="/" class="w-inline-block">
                <img src="/static/Capture.PNG" alt="" class="image-2" />
            </a>
            <div class="div-block-3">
                <h1 class="h4-special">
                    <strong>The Ai4innovation toolkit</strong>
                </h1>
                <a href="#" class="button-tools-inline w-button">📡 Alignment</a>
                <ul><a href="#" class="list-item point-button">Build Market Understanding(23)</a></ul>
                <ul><a href="/clarifyObjective" class="list-item point-button">Clarify objectives(10)</a></ul>
                <ul><a href="/WriteaTRUENorth" class="list-item point-button">Write a TRUE North(App) </a></ul>

                <a href="#" class="button-tools-inline w-button">💻 Build Ideas</a>
                <ul><a href="/ClarifyChallenge" class="list-item point-button">Clarify Challenge (30)</a></ul>
                <ul><a href="/build" class="list-item point-button">Build Ideas (76)</a></ul>
                <ul><a href="/SelectWinningConcepts" class="list-item point-button">Select winning concepts (App-in
                        development)</a></ul>

                <a href="#" class="button-tools-inline w-button">💬 Communicate and Check</a>
                <ul><a href="#" class="list-item point-button">Improve selling concept (26)</a></ul>
                <ul><a href="#" class="list-item point-button">Check Ideas (6)</a></ul>
                <ul><a href="#" class="list-item point-button">Kills or continue (App-in development) </a></ul>

                <a href="#" class="button-tools-inline w-button">🔮 Systematically Improve</a>
                <ul><a href="#" class="list-item point-button">Business Analysis (24)</a></ul>
                <ul><a href="#" class="list-item point-button">Kill or continue (App-in development)</a></ul>
                <!-- <ul><a href="#" class="list-item point-button">Write a TRUE North(App) </a></ul> -->

                <a href="#" class="button-tools-inline w-button">📊 Pitch</a>
                <ul><a href="#" class="list-item point-button">Pitch Ideas (7)</a></ul>
                <ul><a href="#" class="list-item point-button">Pitch Template (App)</a></ul>
                <ul><a href="#" class="list-item point-button">Pitch Review (App)</a></ul>
                <ul><a href="#" class="list-item point-button">Business Review (App-in development)</a></ul>

            </div>

        </div>
    </div>
    <div class="column-12 w-col w-col-9">
        <div class="section">

            <h1>More</h1>





        </div>

       
        <a href="#" onclick="history.back(); return false;" class="disabled-link" style="color: black;">
            <i class="fas fa-arrow-left"> Go Back</i>
        </a>
    


        <!-- <h1 class="h1">
                                     <strong>The Ai4innovation toolkit</strong>
                                </h1> -->
                                <h1>Explore More About Pitch</h1>
                                <span>After successfully creating a pitch below are the next steps 


                                </span>

       
        <div class="container">
            <div>
                <div class=" ">
                    <div class="column-12 ">
                        <div class="div-block-6">

                            <ul class="list-styled list-style">
                                <li><strong>Make your pitch in other formats</strong>
                                    <ol>
                                        <li>Pecha Kucha</li>
                                        <li>The Problem-Solution Pitch</li>
                                        <li>The Storytelling Pitch</li>
                                        <li>The Elevator Pitch</li>
                                    </ol>
                                </li>
                                <li><strong>Review your script, then go to - <a href="https://thecyclesbook.com">Get your free AI Pitch Review</a></strong></li>
                                <li><strong>How to make a pitch deck fast</strong></li>
                            </ul>

                    
                </div>
     
               
                   
                <svg xmlns="http://www.w3.org/2000/svg">
                    <symbol id="checkmark-bold" viewBox="0 0 24 24">
                        <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z" />
                    </symbol>
                </svg>
        

                <br>
                <br>
                
                <p class="paragraph policies">
                    By using this tool, you agree to our <a href="#" target="_blank" class="link">Terms of Service and
                        Policies </a>
                    and  <a href="https://openai.com/policies/terms-of-use" target="_blank" class="link">OpenAI’s Terms
                        of Service and Policies</a>
                </p>
            </div>
        </div>
    </div>


    <!-- ****************** -->
    <!-- <div>
                            <form action="/generate_responses" method="post"></form>
                                <div class="columns w-row">
                                    <div class="column-3 w-col w-col-6 w-col-stack">
                                        <div class="div-block-4">
                                            <label for="userInput" class="paragraph">What are you working on?</label>
                                            <label for="Our-Business" class="input-instruction">Our project mission is</label>
                                            <input type="text"  id="userInput" class="text-field w-input"  placeholder="We want to help people grow, coaches and their coachees. Be perceived as the coaching platform in Europe." required=""/>

                                            <label for="Our-Business" class="input-instruction">What we are selling?</label>
                                            <input type="text"  id="userInput" class="text-field w-input"  placeholder="Our project mission is we want to help people grow, coaches and their coaches" required=""/>
                                        </div>
                                    </div>
                                    <div class="column-4 w-col w-col-6 w-col-stack">
                                        <div class="div-block-5">
                                            <label for="userInput" class="paragraph">We would describe our core  [JTBD] (job to be done) in the following way
                                            </label>
                                            <label for="Alt-view" class="input-instruction">The situation (what people are doing when they are thinking about your product/ service)</label>
                                            <input type="text" id="userInput" class="text-field w-input" maxlength="256" placeholder="Write an alternate view" required=""/>
                                            <label for="Alt-view" class="input-instruction">Write a short description of the problem.</label>
                                            <input type="text" id="userInput" class="text-field w-input" maxlength="256" placeholder="Write an alternate view" required=""/>
                                        </div>
                                    </div>
                                <button class="submit-button w-button" onclick="getResponse()">Get Insights</button>
                                <button class="export-button w-button" onclick="">Export</button>
                        </div>  -->


    </div>
    </div>
    </div>
    
    <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=640fa33f33c6024cf3e800d6"
        type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>
    <!-- <script src="https://assets.website-files.com/640fa33f33c6024cf3e800d6/js/ai-tools-boi.5dd2da2ef.js" type="text/javascript"></script> -->
    <!-- Start emojicom.io widget -->
    <script>
        window.emojicom_widget = {
            campaign: "iA93liEi7FvmZodXwCZ6"
        };
    </script>
    
    <!-- <script src="https://cdn.emojicom.io/embed/widget.js" async></script> -->
    <!-- End emojicom.io widget -->
</body>

</html>


