<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" href="style.css">
    <title>Ai4innovation Toolkit</title>
    <style>
        .sidebar {
            background-color: #49b6b6;
            color: white;
        }

        .tablecontainer {
            background-color: white;
        }

        .table-no-left-border td:first-child {
            border-left: none;
        }

        .table-no-left-border td {
            border-right: 1px solid #dee2e6;
        }

        .btn {
            background-color: #49b6b6;
        }

        a {
            text-decoration: none;

            color: black
        }
    </style>
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar with background color -->
            <div class="col-md-3 sidebar">
                <a href="/" class="w-inline-block">
                    <img src="/static/Assets/png-gea.png" alt="" class="image-2">
                </a>
                <div class="div-block-3 ">
                    <h1 class="h4-special">
                        <strong>The Ai4innovation toolkit</strong>
                    </h1>
                    <a href="#" class="button-tools-inline w-button">📡 Alignment</a>
                    <ul>
                        <li><a href="#" class="list-item point-button">Build Market Understanding(23)</a></li>
                        <li><a href="#" class="list-item point-button">Clarify objectives(10)</a></li>
                        <li><a href="#" class="list-item point-button">Write a TRUE North(App)</a></li>
                    </ul>

                    <a href="#" class="button-tools-inline w-button">💻 Build Ideas</a>
                    <ul>
                        <li><a href="#" class="list-item point-button">Clarify Challenge (30)</a></li>
                        <li><a href="/build" class="list-item point-button">Build Ideas (76)</a></li>
                        <li><a href="#" class="list-item point-button">Select winning concepts (App-in development)</a>
                        </li>
                    </ul>

                    <a href="#" class="button-tools-inline w-button">💬 Communicate and Check</a>
                    <ul>
                        <li><a href="#" class="list-item point-button">Improve selling concept (26)</a></li>
                        <li><a href="#" class="list-item point-button">Check Ideas (6)</a></li>
                        <li><a href="#" class="list-item point-button">Kills or continue (App-in development)</a></li>
                    </ul>

                    <a href="#" class="button-tools-inline w-button">🔮 Systematically Improve</a>
                    <ul>
                        <li><a href="#" class="list-item point-button">Business Analysis (24)</a></li>
                        <li><a href="#" class="list-item point-button">Kill or continue (App-in development)</a></li>
                    </ul>

                    <a href="#" class="button-tools-inline w-button">📊 Pitch</a>
                    <ul>
                        <li><a href="#" class="list-item point-button">Pitch Ideas (7)</a></li>
                        <li><a href="#" class="list-item point-button">Pitch Template (App)</a></li>
                        <li><a href="#" class="list-item point-button">Pitching Ideas (App)</a></li>
                        <li><a href="#" class="list-item point-button">Business Review (App-in development)</a></li>
                    </ul>
                </div>
            </div>

            <!-- Right side content -->
            <div class="col-md-9">
                <div class="section">
                    <div class="section">
                        <div class="hero-title">
                            <h1 class="h1">
                                <strong>The Ai4innovation toolkit</strong>
                            </h1>
                        </div>
                        <!--                                     
                <ol class="steps">
                    <li class="step">Step 1</li>
                    <li class="step">Step 2</li>
                    <li class="step">Step 3</li>
                    
                </ol> -->

                        <p class="paragraph subtitle">
                            212 AI tools/methods and 3 existing apps to help you step by step through the ABCs of
                            Innovation. (note: 3 apps in development)
                        </p>
                        
                        <a href="#" onclick="history.back(); return false;">
                            <i class="fas fa-arrow-left"></i> Go Back
                           </a>
                           
                        <h1> <b>Please define your core message</b></h1>
                    </div>

                    <ol class="list-unstyled">
                        <li>Review your script, then go to - Get your free AI Pitch Review (thecyclesbook.com)</li>
                        <li>Make your pitch in other formats</li>
                        <ol>
                            <li>Pecha Kucha</li>
                            <li>The Problem-Solution Pitch</li>
                            <li>The Storytelling Pitch</li>
                            <li>The Elevator Pitch</li>
                        </ol>
                        <li>How to make a pitch deck fast</li>
                    </ol>
                         
                        </div>
                    </form>
                   
                    <!-- Output section -->
                    


                    <p class="paragraph policies">
                        By using this tool, you agree to our <a href="#" target="_blank" class="link">Terms of
                            Service and Policies </a>
                        and &nbsp;<a href="https://openai.com/policies/terms-of-use" target="_blank"
                            class="link">OpenAI’s Terms of Service and Policies</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    

    <script>
        function continueToNextPage() {
            window.location = 'more'
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>

</html>
