<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Ai4innovation Toolkit</title>
    <style>
    
        /* Add your existing styles here */

        .congratulations-card {
            background-color: #49b6b6; /* Your desired background color */
            color: white;
            padding: 20px;
            text-align: center;
            border-radius: 10px;
            margin-bottom: 20px;
        }

        .congratulations-animation {
            max-width: 100%;
            height: auto;
        }

        .congratulations-message {
            font-size: 1.5em;
            margin-top: 20px;
        }
    
        .sidebar {
            background-color: #49b6b6;
            color: white;
        }

        .tablecontainer {
            background-color: white;
        }

        .table-no-left-border td:first-child {
            border-left: none;
        }

        .table-no-left-border td {
            border-right: 1px solid #dee2e6;
        }

        .btn {
            background-color: #49b6b6;
        }

        a {
            text-decoration: none;

            color: black
        }
        .jumbotron {
            background-color: #49b6b6; /* Your desired background color */
            color: white;
            padding: 20px;
            border-radius: 10px;
            margin-bottom: 20px;
        }

        .jumbotron-animation {
            max-width: 100%;
            height: auto;
        }

        .jumbotron-message {
            font-size: 1.5em;
            margin-top: 20px;
        }
    </style>
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar with background color -->
            <div class="col-md-3 sidebar">
                <a href="/" class="w-inline-block">
                    <img src="/static/Assets/png-gea.png" alt="" class="image-2">
                </a>
                <div class="div-block-3 ">
                    <h1 class="h4-special">
                        <strong>The Ai4innovation toolkit</strong>
                    </h1>
                    <a href="#" class="button-tools-inline w-button">📡 Alignment</a>
                    <ul>
                        <li><a href="#" class="list-item point-button">Build Market Understanding(23)</a></li>
                        <li><a href="#" class="list-item point-button">Clarify objectives(10)</a></li>
                        <li><a href="#" class="list-item point-button">Write a TRUE North(App)</a></li>
                    </ul>

                    <a href="#" class="button-tools-inline w-button">💻 Build Ideas</a>
                    <ul>
                        <li><a href="#" class="list-item point-button">Clarify Challenge (30)</a></li>
                        <li><a href="/build" class="list-item point-button">Build Ideas (76)</a></li>
                        <li><a href="#" class="list-item point-button">Select winning concepts (App-in development)</a>
                        </li>
                    </ul>

                    <a href="#" class="button-tools-inline w-button">💬 Communicate and Check</a>
                    <ul>
                        <li><a href="#" class="list-item point-button">Improve selling concept (26)</a></li>
                        <li><a href="#" class="list-item point-button">Check Ideas (6)</a></li>
                        <li><a href="#" class="list-item point-button">Kills or continue (App-in development)</a></li>
                    </ul>

                    <a href="#" class="button-tools-inline w-button">🔮 Systematically Improve</a>
                    <ul>
                        <li><a href="#" class="list-item point-button">Business Analysis (24)</a></li>
                        <li><a href="#" class="list-item point-button">Kill or continue (App-in development)</a></li>
                    </ul>

                    <a href="#" class="button-tools-inline w-button">📊 Pitch</a>
                    <ul>
                        <li><a href="#" class="list-item point-button">Pitch Ideas (7)</a></li>
                        <li><a href="#" class="list-item point-button">Pitch Template (App)</a></li>
                        <li><a href="#" class="list-item point-button">Pitching Ideas (App)</a></li>
                        <li><a href="#" class="list-item point-button">Business Review (App-in development)</a></li>
                    </ul>
                </div>
            </div>

            <!-- Right side content -->
            <div class="col-md-9">
                <div class="section">
                    <div class="section">
                        <div class="hero-title">
                            <h1 class="h1">
                                <strong>The Ai4innovation toolkit</strong>
                            </h1>
                        </div>
                        <!--                                     
                <ol class="steps">
                    <li class="step">Step 1</li>
                    <li class="step">Step 2</li>
                    <li class="step">Step 3</li>
                    
                </ol> -->

                        <p class="paragraph subtitle">
                            212 AI tools/methods and 3 existing apps to help you step by step through the ABCs of
                            Innovation. (note: 3 apps in development)
                        </p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100"
                                aria-valuemin="0" aria-valuemax="100">100%</div>
                        </div>
                        <a href="#" onclick="history.back(); return false;">
                            <i class="fas fa-arrow-left"></i> Go Back
                        </a>

                    </div>
                    <div class="container mt-5">
                        <div class="jumbotron">
                            <!-- Lottie animation -->
                            <div class="jumbotron-animation" data-animation-type="lottie"
                                data-src="https://assets.website-files.com/640fa33f33c6024cf3e800d6/6411fffbd7d4478b7afe980a_16766-forget-password-animation.json"
                                data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0"
                                data-renderer="svg" data-duration="0"></div>

                            <!-- Congratulations message -->
                            <h1 class="display-4 text-center">Congratulations!</h1>
                            <p class="lead text-center jumbotron-message">Your pitch was successfully generated.
                                Keep up the great work! Click on generate to see!</p>
                        </div>
                    </div>


                    <h1 class="mb-4">Your Pitch</h1>
                    <form action="/generate_pitch" method="post">
                        <table class="table table-striped">
                            <tbody>

                                <button class="btn btn-primary" type="submit">Generate Pitch</button>
                                <div class="output">
                                    <div id="response1">
                                        <div class="lottie-animation" data-animation-type="lottie"
                                            data-src="https://assets.website-files.com/640fa33f33c6024cf3e800d6/6411fffbd7d4478b7afe980a_16766-forget-password-animation.json"
                                            data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0"
                                            data-renderer="svg" data-duration="0"></div>


                                        {% if feedback %}
                                        <h3>Generated Pitch:</h3>
                                        <p class="form-control">{{ feedback }}</p>
                                        {% else %}
                                        <p class="form-control" rows="9">We are creating your request. This can take up
                                            to 20 seconds...</p>
                                        {% endif %}
                                        <!-- Additional feedback goes here -->
                                    </div>
                                    <br>
                                    
                                </div>

                            </tbody>
                        </table>
                    </form>

                    <button class="btn btn-primary" onclick="continueToNextPage()"> Next
                        </button>
                    <p class="paragraph policies">
                        By using this tool, you agree to our <a href="#" target="_blank" class="link">Terms of
                            Service and Policies </a>
                        and &nbsp;<a href="https://openai.com/policies/terms-of-use" target="_blank"
                            class="link">OpenAI’s Terms of Service and Policies</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <script>
        function continueToNextPage() {
            window.location = 'more'
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>

</html>